@import './root.scss';

.card {
    .card-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        height: 67px;
        line-height: 22.4px;
        font-size: $fs-18;
    }

    .icon {
        font-size: $fs-16;
        margin-right: 6px;
    }

    .price {
        color: $color-red;
        font-size: $fs-18;
        font-weight: $fw-lg;
    }

    .icon-link {
        font-size: $fs-16;
    }
    .link {
        color: $color-blue_global;
    }
    .add-cart{
        background-color: $color-orange;
        color: $color-while;
        border-radius: 7px !important;
    }
    .remove-cart{
        color: $color-while;
        border-radius: 7px !important;
    }
}