.payment-info {
  padding: 10px;
  border-radius: 6px;
  color: #fbfbfb;
  font-weight: bold;

  .information {
    & span {
      font-size: 15px;
      font-weight: 500;
    }

    & + .information {
      margin-top: 5px;
    }
  }

  .blue-gradient-rgba {
    background: linear-gradient(to right, rgba(4, 102, 200, 0.95), rgba(3, 48, 101, 0.95));
  }

  .btn-rounded-minus {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .btn-rounded-add {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  .btn-sm {
    padding: 0.1rem 0.7rem !important;
  }
}

.product-details {
  padding: 10px;
}

body {
  background: #eee;
}

.cart {
  background: #fff;
}

.p-about {
  font-size: 12px;
}

.table-shadow {
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
}

.type {
  font-weight: 400;
  font-size: 15px;
}

label.radio {
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }

  span {
    padding: 1px 12px;
    border: 2px solid #ada9a9;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
  }

  input:checked + span {
    border-color: #fff;
    color: #fff;
  }
}

.credit-inputs {
  background: #3b71ca;
  color: #fbfbfb !important;
  border-color: #fbfbfb;

  &::placeholder {
    color: #fff;
    font-size: 13px;
  }

  &:focus {
    border-color: #fbfbfb;
    background-color: #3b71ca;
  }
}

.credit-card-label {
  font-size: 15px;
  font-weight: 300;
}

.items {
  box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
}

.spec {
  font-size: 15px;
}

.image-tour-cart {
  width: 200px;
  height: 215px;
  object-fit: cover;
}


ul {
  padding: 0;

  li {
    list-style: none;
  }
}

.item-icon {
  padding-right: 0.7rem;
  min-width: 25px;
}

.item-icon-fas {
  padding-right: 0.3rem;
  min-width: 25px;
}

.tick-icon-selected {
  font-size: 1.4rem;
  color: green;
}

.far.fa-check-circle {
  font-size: 1.4rem;
}

.btn-rounded-minus {
  border-bottom-left-radius:20px;
  border-top-left-radius: 20px;
}

.btn-rounded-add {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.btn-sm{
  padding:0.1rem .7rem !important;
}
.overflow-cart{
  max-height: 26rem;
}
.remove-btn:focus {
  outline: none;
}
