@import './root.scss';

.category {
    .container-right {
        .title {
            color: $color-title;
            font-size: $fs-36;
            font-weight: $fw-lg;
            padding: 12px 0px;
        }

        .arrangement {
            background-color: $color-while;
            border-top: solid 3px #ccc;
            border-bottom: solid 1px #ccc;
            margin-left: 6px;
            .item, .name {
                padding: 6px;
                text-align: center;
            }
            .item:hover,.active {
                color: $color-blue_global;
                background-color: #dcdcdc8c;
                cursor: pointer;
            }
        }

        .content {
            margin-left: 6px;
            padding: 6px;
        }
    }
    @media (max-width: 988px) {
        .areas {
            display: none;
        }
    }
}