@import './root.scss';

.home-collection {
    .home-collection_title {
        background-color: $color-blue_global;

        .title {
            color: $color-while;
            font-size: $fs-24;
            padding: 8px 14px;
            margin: 0px;
        }

        .link {
            padding: 8px 14px;
            color: $color-while;

            .icon {
                font-size: 16px;
            }
        }
    }

}