@import './root.scss';

#progress-bar {
  display: table;
  width: 100%;
  margin: 0;
  padding: 15px 15px 0;
  table-layout: fixed;
  width: 100%;
  counter-reset: step;

  li {
    list-style-type: none;
    display: table-cell;
    width: 20%;
    float: left;
    font-size: 16px;
    position: relative;
    text-align: center;

    &:before {
      width: 50px;
      height: 50px;
      color: #212121;
      content: counter(step);
      counter-increment: step;
      line-height: 50px;
      font-size: 18px;
      border: 1px solid #efefef;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: $color-blue_third;
    }

    &:after {
      width: 100%;
      height: 10px;
      content: '';
      position: absolute;
      background-color: $color-blue_third;
      top: 21px;
      left: -50%;
      z-index: -1;
    }

    &:first-child:after {
      content: none;
    }

    &.step-done {
      color: $color-blue_global;

      &:before {
        border-color: $color-blue_global;
        background-color: $color-blue_global;
        color: #fff;
        content: "\2713"; /* Dáº¥u tick */
        font-size: 18px;
      }

      & + li:after {
        background-color: $color-bg_bt;
      }
    }

    &.step-active {
      color: $color-blue_global;

      &:before {
        border-color: $color-blue_global;
        color: $color-blue_global;
        font-weight: 700;
      }
    }
  }
}
