$color-blue_global: #003c71;
$color-blue_second: #3c88cb;
$color-blue_third: #edf7ff;
$color-while: #fff;
$color-black: #000;
$color-red: #F79321;
$color-yellow: #ffc709;
$color-orange: #F79321;
$color-text: #3F3B3B;
$color-title: #003C71;
$color-gray: #50535D;
$color-bg_bt: #003c71;
$color-green: #9fc43a;
$color-bg-gray: rgb(224 231 238);

$fs-64: 64px;
$fs-42: 42px;
$fs-36: 36px;
$fs-32: 32px;
$fs-28: 28px;
$fs-24: 24px;
$fs-22: 22px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;

$fw-sm: 300;
$fw-md: 500;
$fw-lg: 600;
$fw-xl: 800;
$fw-xxl: 900;


.text-right {
    text-align: right;
}
