@import './root.scss';

.search-home {
    .container-search {
        background-color: $color-while;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border-radius: 15px;
        .container-wrap {
            padding: 36px 24px;
            .col {
                margin-top: 12px;
            }
            .group-input {
                border: solid 4px $color-yellow;
                border-radius: 8px;
                margin-top: 12px;
                .icon {
                    font-size: 24px;
                }

                .flex-group {
                    label {
                        flex: 1;
                        font-size: $fs-16;
                        opacity: 0.8;
                        padding: 8px 6px 0px;
                        margin: 0px;
                    }
                    
                    input, select{
                        width: 100%;
                        flex: 2;
                        border: none;
                        font-size: $fs-18;
                        padding: 4px;
                        cursor: pointer;
                    }
                    select {
                        padding: 6px 4px;
                    }

                    input,select, option:focus {
                        outline: none;
                    }

                }
            }
            .input-group-text {
                border: none;
                padding: 12px 2px 12px 18px;
            }
        }

        .wrap-icon_search {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            background-color: $color-bg_bt;
            border: solid 4px $color-bg_bt;
            border-radius: 8px;
            padding: 14px;
            margin-top: 12px;
            cursor: pointer;
            .icon {
                font-size: 36px;
                color: $color-yellow;
            }
        } 
    }
    .translate-middle {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .bg-icon {
        background-color: $color-while;
    }

}